
body {
    background-color: #f8f9fa;
  }
  
  h1 {
    color: #333;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .card-body {
    padding: 15px; 
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
    /* margin-bottom: 20px; */
    height: 60px;
    overflow: hidden;
    text-overflow: hidden;

}